{% extends 'base.html' %}
{% load event_tags staticfiles %}

{% block static_file_top %}
 <link rel="stylesheet" href="{% static 'css/custom-menu-bootstrap.css' %}">
{% endblock static_file_top %} {%

<!-- Menu de Navegação aqui -->
{% block main_menu %}{% has_menu evento=evento %}{% endblock main_menu %}
{% block title %}{{evento.titulo}}{% endblock title %}

{% block container %}
  <div class="jumbotron">
    <h1>{{evento.titulo}}</h1>
    <p>{{evento.descricao}}</p>
    <p>
      <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>
    </p>
  </div>
{% endblock container %}